<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.programadorthi.norris.ui">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".activity.FactsActivity" />
        <activity android:name=".activity.SearchFactsActivity" />
    </application>

</manifest>